/** {
  margin: 0;
  padding: 0;
}*/

/* Exercise num 1 */
.ex-1-square {
  transition: background 3s;
}

.ex-1-square:hover {
  background-color: #FF0000; /*red*/
}

/* Exercise num 2 */
.ex-2-square {
  transition: width 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* Exercise num 3 */
.ex-3-square {
  transition: 3s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* Exercise num 4 */
.ex-4-square {
  transition: 3s;
}

.ex-4-square:hover {
  opacity: 0;
}
